/* PAGE */
.forgetpassword-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* CARD */
.forgetpassword {
  width: 380px;
  max-width: 90%;
  text-align: center;
}

/* LOGO */
.logo {
  width: 180px;
  margin-bottom: 15px;
}
/* TITLE */
.forgetpassword h2 {
  margin-bottom: 35px;
  font-weight: 500;
}

/* TEXT */
.forgetpassword p {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* INPUT BOX */
.input-group {
  display: flex;
  align-items: center;
  background: #e6e6e6;
  border-radius: 6px;
  padding: 12px 15px;
  margin-bottom: 30px;
  border-bottom: none;
}

/* ICON */
.input-group .icon {
  color: #888;
  margin-right: 10px;
  font-size: 16px;
}

/* INPUT */
.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #333;
}

/* BUTTON */
.reset-btn {
  width: 100%;
  padding: 14px;
  background: #0f6b1f; /* green */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

/* BACK LINK */
.back-login {
  color: #163a6b;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}