/* CENTER PAGE */
.login-section {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.login-container {
  width: 350px;
  max-width: 90%;
  text-align: center;
}

/* LOGO */
.logo {
  width: 90px;
  margin-bottom: 15px;
}

/* TITLE */
h2 {
  margin-bottom: 35px;
  font-weight: 500;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #7fd3da;
  margin-bottom: 30px;
  padding: 10px 0;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #555;
}

/* ICONS */
.icon {
  margin-right: 10px;
  color: #999;
}

.eye-icon {
  color: #999;
  cursor: pointer;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 14px;
  color: #333;
}

.options a {
  text-decoration: none;
  color: #1f3c6d;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #163a6b;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

/* SIGNUP */
.signup-text {
  margin-bottom: 30px;
  font-size: 14px;
}

.signup-text span {
  font-weight: 700;
  cursor: pointer;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #bdbdbd;
}

.divider span {
  margin: 0 12px;
  font-size: 13px;
  color: #666;
  white-space: nowrap;
}

/* SOCIALS */
.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social {
  width: 45px;
  height: 45px;
  background: #e6e6e6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}